<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CITI.EVO.CommonData.DAL.Properties.Settings.Lmis_CommonDataConnectionString"
            connectionString="Data Source=evolution.ge;Initial Catalog=Lmis_CommonData;Persist Security Info=True;User ID=sa;Password=@citi_evo_hitman47@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>