<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lmis.Portal.DAL.Properties.Settings.Lmis_PortalConnectionString"
            connectionString="Data Source=evolution.ge;Initial Catalog=Lmis_Portal;User ID=sa;Password=@citi_evo_hitman47@"
            providerName="System.Data.SqlClient" />
        <add name="Lmis.Portal.DAL.Properties.Settings.Lmis_PortalConnectionString1"
            connectionString="Data Source=172.17.7.123;Initial Catalog=Lmis_Portal;User ID=sa;Password=@1qaz2wsx3edc@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>