<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="rpc" type="CITI.EVO.Rpc.Config.RpcSection, CITI.EVO.Rpc" />
	</configSections>
	<connectionStrings/>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false"/>
	</appSettings>
	<!--D83FF1E4-5909-4DCC-8D84-DEFCFAFE0EC4 Messaging-->
	<runtime>
		<gcConcurrent enabled="true"/>
		<gcAllowVeryLargeObjects enabled="true"/>
	</runtime>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="2147483647" targetFramework="4.5.1" />
		<compilation debug="true" targetFramework="4.5.1"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="RpcClientHandler" verb="*" path="Handlers/RpcClient.rpc" type="CITI.EVO.Rpc.Handlers.RpcClientHandler, CITI.EVO.Rpc"/>
			<add name="RpcServerHandler" verb="*" path="Handlers/RpcServer.rpc" type="CITI.EVO.Rpc.Handlers.RpcServerHandler, CITI.EVO.Rpc"/>
		</handlers>
	</system.webServer>
	<rpc>
		<client serverUrl="http://localhost/Molhsa/CITI.EVO.RpcHub.Web/Handlers/RpcServer.rpc" userName="" password="" />
		<peers>
			<add name="Common" url="http://localhost/Molhsa/CITI.EVO.CommonData.Web/Handlers/RpcClient.rpc" requestTimeout="3600000" userName="" password="" />
    </peers>
	</rpc>
</configuration>
